.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-Login{
  float: right;
}

.frontimage{
  height: 580px;
  width: 100%;
}

.frontText{
  text-align: center;
  margin-top: 150px;
  display: block;
  padding: 5px;
}

.card-blog{
  margin-top: 20px;
}

.footer{
  text-align: center;
  font-weight: bolder;
  background-color: gray;
}


